19

In [18]:
L= [2,3,6]
res=1
for val in L:
    res=res*val
res

36

In [25]:

l =[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
l.sort(key = lambda x:x[-1])
print(l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [40]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
combined_dict = {}

for key1, key2 in zip(d1, d2):
    if key1 == key2:
        combined_dict[key1] = d1[key1] + d2[key2]
    else:
        combined_dict[key1] = d1[key1]
        combined_dict[key2] = d2[key2]

print(combined_dict)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [41]:
n = int(input("Enter a number: "))
d={}
for i in range(1,n+1):
    d[i]=i*i

Enter a number: 5

In [44]:
n = int(input("Enter a number: "))

result_dict = {}

for i in range(1, n+1):
    result_dict[i] = i*i

print(result_dict)

Enter a number: 6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [46]:
d={}
for i in range(1,9):
    d[i]=i*i
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [47]:
tuple_list = [('a', 3.2), ('b', 1.1), ('c', 2.5), ('d', 0.5)]

sorted_tuple = sorted(tuple_list, key=lambda x: float(x[1]))

print(sorted_tuple)

[('d', 0.5), ('b', 1.1), ('c', 2.5), ('a', 3.2)]

In [48]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # {1, 2, 3, 4}
my_set.remove(2)
print(my_set)  # {1, 3}

{1, 2, 3, 4}
{1, 3, 4}